{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			{{ form_start(contact_form) }}
			<div class="mb-3">
				{{ form_row(contact_form.nom, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_row(contact_form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_row(contact_form.telephone, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_row(contact_form.message, {'attr': {'class': 'form-control'}}) }}
				<small class="form-text text-muted">Aucune donnée personnelle n’est conservée par le site internet via ce formulaire</small>
			</div>
			<button type="submit" class="btn btn-primary">Envoyer</button>
			{{ form_end(contact_form) }}
		</div>
	</div>
{% endblock %}
